.about-list {
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }

  @include desk {
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.about-list__item {
  margin-bottom: 30px;
  @include tab {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

.features {
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  @include tab {
    width: 354px;
  }

  @include desk {
    width: 270px;
  }
}

.about-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  @include text(16px, 700, 16px, 3%);

  @include tab {
    text-align-last: left;
  }
}

.about-list__aftertitle {
  width: 450px;
  @include text(14px, 400, 24px, 3%);
  color: var(--secondary-text-color);

  @include tab {
    width: 354px;
  }

  @include desk {
    width: 270px;
  }
}
