.clients-title {
  font-weight: 900;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--Primary-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  transition: var(--animation);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: var(--hover-background-color);
  }
}

.clients-list__icon {
  transition: var(--animation);
  fill: #afb1b8;

  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--hover-background-color);
  }
}
