.subscribe {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 900;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hover-text-color);
}

.subscribe-container {
  padding-top: 72px;
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;

  background-color: #2f303a;

  &::placeholder {
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
  font-weight: 900;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transform: var(--animation);

  &:hover,
  &:focus {
    color: var(--hover-text-color);
    background-color: #188ce8;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
}
