.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav__link {
  transition: var(--animation);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--Primary-text-color);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;

  &:hover,
  &:focus {
    color: var(--hover-background-color);
  }
}

.header-nav__item {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 2%;

  & + & {
    margin-left: 50px;
  }
}
