.icon-mob-menu-open {
  fill: #000000;

  .mob-menu-open:hover &,
  .mob-menu-open:focus & {
    fill: var(--hover-background-color);
  }
}

.mob-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 40px;
  height: 40px;

  @include tab {
    display: none;
  }
}

.mob-menu-open {
  // position: absolute;
  // top: 10px;
  // right: 18px;
  margin-left: auto;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: var(--animation);

  @include tab {
    display: none;
  }
}

.icon-mob-menu-open {
  width: 100%;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #ffffff;
  padding-left: 40px;
  padding-right: 83px;
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tab {
    display: none;
  }
}

.mob-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;

  transition: var(--animation);
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  @include text(40px, 500, 47px, 0.02em);
  color: var(--Primary-text-color);
  transition: var(--animation);
}

.mob-menu-connect__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-connect__tel {
  @include text(34px, 500, 40px, 0.02em);
  color: var(--hover-background-color);
  transform: var(--animation);
}

.mob-menu-connect__mail {
  @include text(24px, 500, 28px, 0.02em);
  color: var(--secondary-text-color);
}

.mob-menu-social {
  display: flex;
}

.mob-menu-social__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-menu-social__link {
  @include text(18px, 500, 22px, 0.02em);
  color: var(--hover-background-color);
  transition: var(--animation);
}

.current {
  color: var(--hover-background-color);
}

.icon-mob-menu-close {
  .mob-menu__close:hover &,
  .mob-menu__close:focus & {
    fill: var(--hover-background-color);
  }
}
